name: Build ZMK firmware
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
